@charset "utf-8";
/* 
html5doctor.com Reset Stylesheet
v1.4 
2009-07-27
Author: Richard Clark - http://richclarkdesign.com
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, 
hgroup, menu, nav, section,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
	font:75%/1.5em Arial, Helvetica, "Liberation sans", "Bitstream Vera Sans", sans-serif;
}

article, aside, dialog, figure, footer, header, 
hgroup, nav, section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted #000;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

:focus { outline: 0; }
/*
 * jQuery UI CSS Framework 1.8.6
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
/*
 * jQuery UI Accordion 1.8.6
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Accordion#theming
 */
/* IE/Win - Fix animation bug - #4615 */
.ui-accordion { width: 100%; }
.ui-accordion .ui-accordion-header { cursor: pointer; position: relative; margin-top: 1px; zoom: 1; }
.ui-accordion .ui-accordion-li-fix { display: inline; }
.ui-accordion .ui-accordion-header-active { border-bottom: 0 !important; }
.ui-accordion .ui-accordion-header a { display: block; font-size: 1em; padding: .5em .5em .5em .7em; }
.ui-accordion-icons .ui-accordion-header a { padding-left: 2.2em; }
.ui-accordion .ui-accordion-header .ui-icon { position: absolute; left: .5em; top: 50%; margin-top: -8px; }
.ui-accordion .ui-accordion-content { padding: 1em 2.2em; border-top: 0; margin-top: -2px; position: relative; top: 1px; margin-bottom: 2px; overflow: auto; display: none; zoom: 1; }
.ui-accordion .ui-accordion-content-active { display: block; }/*
 * jQuery UI Autocomplete 1.8.6
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Autocomplete#theming
 */
.ui-autocomplete { position: absolute; cursor: default; }	

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

/*
 * jQuery UI Menu 1.8.6
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Menu#theming
 */
.ui-menu {
	list-style:none;
	padding: 2px;
	margin: 0;
	display:block;
	float: left;
}
.ui-menu .ui-menu {
	margin-top: -3px;
}
.ui-menu .ui-menu-item {
	margin:0;
	padding: 0;
	zoom: 1;
	float: left;
	clear: left;
	width: 100%;
}
.ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
	padding:.2em .4em;
	line-height:1.5;
	zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	margin: -1px;
}
/*
 * jQuery UI Button 1.8.6
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Button#theming
 */
.ui-button { display: inline-block; position: relative; padding: 0; margin-right: .1em; text-decoration: none !important; cursor: pointer; text-align: center; zoom: 1; overflow: visible; } /* the overflow property removes extra width in IE */
.ui-button-icon-only { width: 2.2em; } /* to make room for the icon, a width needs to be set here */
button.ui-button-icon-only { width: 2.4em; } /* button elements seem to need a little more width */
.ui-button-icons-only { width: 3.4em; } 
button.ui-button-icons-only { width: 3.7em; } 

/*button text element */
.ui-button .ui-button-text { display: block; line-height: 1.4;  }
.ui-button-text-only .ui-button-text { padding: .4em 1em; }
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text { padding: .4em; text-indent: -9999999px; }
.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .4em 1em .4em 2.1em; }
.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .4em 2.1em .4em 1em; }
.ui-button-text-icons .ui-button-text { padding-left: 2.1em; padding-right: 2.1em; }
/* no icon support for input elements, provide padding by default */
input.ui-button { padding: .4em 1em; }

/*button icon element(s) */
.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon { position: absolute; top: 50%; margin-top: -8px; }
.ui-button-icon-only .ui-icon { left: 50%; margin-left: -8px; }
.ui-button-text-icon-primary .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary { left: .5em; }
.ui-button-text-icon-secondary .ui-button-icon-secondary, .ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }
.ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }

/*button sets*/
.ui-buttonset { margin-right: 7px; }
.ui-buttonset .ui-button { margin-left: 0; margin-right: -.3em; }

/* workarounds */
button.ui-button::-moz-focus-inner { border: 0; padding: 0; } /* reset extra padding in Firefox */
/*
 * jQuery UI Datepicker 1.8.6
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Datepicker#theming
 */
.ui-datepicker { width: 17em; padding: .2em .2em 0; }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-prev-hover { left:1px; }
.ui-datepicker .ui-datepicker-next-hover { right:1px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width:auto; }
.ui-datepicker-multi .ui-datepicker-group { float:left; }
.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.ui-datepicker-row-break { clear:both; width:100%; }

/* RTL support */
.ui-datepicker-rtl { direction: rtl; }
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
.ui-datepicker-rtl .ui-datepicker-group { float:right; }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}/*
 * jQuery UI Dialog 1.8.6
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Dialog#theming
 */
.ui-dialog { position: absolute; padding: .2em; width: 300px; overflow: hidden; }
.ui-dialog .ui-dialog-titlebar { padding: .5em 1em .3em; position: relative;  }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 16px .2em 0; } 
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog .ui-dialog-content { position: relative; border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: right; }
.ui-dialog .ui-dialog-buttonpane button { margin: .5em .4em .5em 0; cursor: pointer; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }
/*
 * jQuery UI Progressbar 1.8.6
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Progressbar#theming
 */
.ui-progressbar { height:2em; text-align: left; }
.ui-progressbar .ui-progressbar-value {margin: -1px; height:100%; }/*
 * jQuery UI Resizable 1.8.6
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Resizable#theming
 */
.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}/*
 * jQuery UI Selectable 1.8.6
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Selectable#theming
 */
.ui-selectable-helper { position: absolute; z-index: 100; border:1px dotted black; }
/*
 * jQuery UI Slider 1.8.6
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Slider#theming
 */
.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }/*
 * jQuery UI Tabs 1.8.6
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Tabs#theming
 */
.ui-tabs { position: relative; padding: .2em; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { margin: 0; padding: .2em .2em 0; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; }
.ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 1em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 1em 1.4em; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }
/*
 * jQuery UI CSS Framework 1.8.6
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 *
 * To view and modify this theme, visit http://jqueryui.com/themeroller/
 */


/* Component containers
----------------------------------*/
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget-content { border: 1px solid #aaaaaa/*{borderColorContent}*/; background: #ffffff/*{bgColorContent}*/; color: #222222/*{fcContent}*/; }
.ui-widget-content a { color: #222222/*{fcContent}*/; }
.ui-widget-header { border: 1px solid #aaaaaa/*{borderColorHeader}*/; background: #cccccc/*{bgColorHeader}*/; color: #222222/*{fcHeader}*/; font-weight: bold; }
.ui-widget-header a { color: #222222/*{fcHeader}*/; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #d3d3d3/*{borderColorDefault}*/; background: #e6e6e6/*{bgColorDefault}*/; font-weight: normal/*{fwDefault}*/; color: #555555/*{fcDefault}*/; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #555555/*{fcDefault}*/; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #999999/*{borderColorHover}*/; background: #dadada/*{bgColorHover}*/; font-weight: normal/*{fwDefault}*/; color: #212121/*{fcHover}*/; }
.ui-state-hover a, .ui-state-hover a:hover { color: #212121/*{fcHover}*/; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #aaaaaa/*{borderColorActive}*/; background: #ffffff/*{bgColorActive}*/; font-weight: normal/*{fwDefault}*/; color: #212121/*{fcActive}*/; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #212121/*{fcActive}*/; text-decoration: none; }
.ui-widget :active { outline: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #fcefa1/*{borderColorHighlight}*/; background: #fbf9ee/*{bgColorHighlight}*/; color: #363636/*{fcHighlight}*/; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #363636/*{fcHighlight}*/; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #cd0a0a/*{borderColorError}*/; background: #fef1ec/*{bgColorError}*/; color: #cd0a0a/*{fcError}*/; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #cd0a0a/*{fcError}*/; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #cd0a0a/*{fcError}*/; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }

/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-tl { -moz-border-radius-topleft: 4px/*{cornerRadius}*/; -webkit-border-top-left-radius: 4px/*{cornerRadius}*/; border-top-left-radius: 4px/*{cornerRadius}*/; }
.ui-corner-tr { -moz-border-radius-topright: 4px/*{cornerRadius}*/; -webkit-border-top-right-radius: 4px/*{cornerRadius}*/; border-top-right-radius: 4px/*{cornerRadius}*/; }
.ui-corner-bl { -moz-border-radius-bottomleft: 4px/*{cornerRadius}*/; -webkit-border-bottom-left-radius: 4px/*{cornerRadius}*/; border-bottom-left-radius: 4px/*{cornerRadius}*/; }
.ui-corner-br { -moz-border-radius-bottomright: 4px/*{cornerRadius}*/; -webkit-border-bottom-right-radius: 4px/*{cornerRadius}*/; border-bottom-right-radius: 4px/*{cornerRadius}*/; }
.ui-corner-top { -moz-border-radius-topleft: 4px/*{cornerRadius}*/; -webkit-border-top-left-radius: 4px/*{cornerRadius}*/; border-top-left-radius: 4px/*{cornerRadius}*/; -moz-border-radius-topright: 4px/*{cornerRadius}*/; -webkit-border-top-right-radius: 4px/*{cornerRadius}*/; border-top-right-radius: 4px/*{cornerRadius}*/; }
.ui-corner-bottom { -moz-border-radius-bottomleft: 4px/*{cornerRadius}*/; -webkit-border-bottom-left-radius: 4px/*{cornerRadius}*/; border-bottom-left-radius: 4px/*{cornerRadius}*/; -moz-border-radius-bottomright: 4px/*{cornerRadius}*/; -webkit-border-bottom-right-radius: 4px/*{cornerRadius}*/; border-bottom-right-radius: 4px/*{cornerRadius}*/; }
.ui-corner-right {  -moz-border-radius-topright: 4px/*{cornerRadius}*/; -webkit-border-top-right-radius: 4px/*{cornerRadius}*/; border-top-right-radius: 4px/*{cornerRadius}*/; -moz-border-radius-bottomright: 4px/*{cornerRadius}*/; -webkit-border-bottom-right-radius: 4px/*{cornerRadius}*/; border-bottom-right-radius: 4px/*{cornerRadius}*/; }
.ui-corner-left { -moz-border-radius-topleft: 4px/*{cornerRadius}*/; -webkit-border-top-left-radius: 4px/*{cornerRadius}*/; border-top-left-radius: 4px/*{cornerRadius}*/; -moz-border-radius-bottomleft: 4px/*{cornerRadius}*/; -webkit-border-bottom-left-radius: 4px/*{cornerRadius}*/; border-bottom-left-radius: 4px/*{cornerRadius}*/; }
.ui-corner-all { -moz-border-radius: 4px/*{cornerRadius}*/; -webkit-border-radius: 4px/*{cornerRadius}*/; border-radius: 4px/*{cornerRadius}*/; }

/* Overlays */
.ui-widget-overlay { background: #aaaaaa/*{bgColorOverlay}*/; opacity: .3;filter:Alpha(Opacity=30)/*{opacityOverlay}*/; }
.ui-widget-shadow { margin: -8px/*{offsetTopShadow}*/ 0 0 -8px/*{offsetLeftShadow}*/; padding: 8px/*{thicknessShadow}*/; background: #aaaaaa/*{bgColorShadow}*/; opacity: .3;filter:Alpha(Opacity=30)/*{opacityShadow}*/; -moz-border-radius: 8px/*{cornerRadiusShadow}*/; -webkit-border-radius: 8px/*{cornerRadiusShadow}*/; border-radius: 8px/*{cornerRadiusShadow}*/; }/* TipTip CSS - Version 1.2 */

#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

#tiptip_holder.tip_top {
	padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
	padding-top: 5px;
}

#tiptip_holder.tip_right {
	padding-left: 5px;
}

#tiptip_holder.tip_left {
	padding-right: 5px;
}

#tiptip_content {
	font-size: 12px;
	text-align: center;
	color: #fff;
	text-shadow: 0 0 2px #333;
	padding: 4px 8px;
	background-color: rgba(25,25,25,0.92);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#333));
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 3px #555;
	-webkit-box-shadow: 0 0 3px #555;
	-moz-box-shadow: 0 0 3px #555;
}

#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #fff;
	border-top-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: #fff;
	border-bottom-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color: #fff;
	border-right-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: #fff;
	border-left-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(25,25,25);
	border-top-color: rgba(25,25,25,0.8);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(25,25,25);
	border-bottom-color: rgba(25,25,25,0.8);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: rgb(25,25,25);
	border-right-color: rgba(25,25,25,0.8);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(25,25,25);
	border-left-color: rgba(25,25,25,0.8);
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {	
	#tiptip_content {
		padding: 4px 8px 5px 8px;
		background-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner { 
		border-bottom-color: rgba(45,45,45,0.8);
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner { 
		border-top-color: rgba(20,20,20,0.8);
	}
}@font-face {
	font-family: "IconicStroke";
    src: url("../fonts/iconic_stroke.eot");
	src: local("IconicStroke"), url("../fonts/iconic_stroke.otf") format("opentype"), url("../fonts/iconic_stroke.ttf") format("truetype");
	/**src: local("IconicStroke"), url("../fonts/iconic_stroke.svg#iconic") format("svg"), url("../fonts/iconic_stroke.otf") format("opentype"), url("../fonts/iconic_stroke.ttf") format("truetype");**/
}
body, button, input, select, textarea, a, a:link, a:visited, a:hover, a:active { font-family: Helvetica, Arial, "Liberation Sans", "Bitstream Vera Sans", sans-serif; color: #505460; text-shadow: white 0px 1px 0px; text-decoration: none; letter-spacing: -1px; }
body { height: 100%; }
html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
a:link { -webkit-tap-highlight-color: #ff5e99; }
.ie7 img { -ms-interpolation-mode: bicubic; }
label, input[type=button], input[type=submit], button, header#top h1, span.combobox .ui-button { cursor: pointer; }

/* for image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal. www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.80p { font-size: 80%; }
.90p { font-size: 90%; }
.100p { font-size: 100%; }
.110p { font-size: 110%; }
.120p { font-size: 120%; }
.160p { font-size: 160%; }

header#top h1, header#top nav, header#top time, section#panel nav ul li { display: inline; float: left; position: relative; }
header#top h1:hover, ul.options li.account.selected, form#create button.selected, form#create button.selected:hover, nav#filters ul li.more.selected, .light { text-shadow: #6699cc 0 0 10px; text-decoration: none; color: white; }

div#page { max-width: 960px; margin: 0 auto 10px auto; min-height: 100%; }

header#top { 
	letter-spacing: -0.5px; 
 	border-left: 1px solid #ddd; 
	border-right: 1px solid #ddd; 
	border-bottom: 1px solid #bbb; 
	background: #ddddd7 url(../images/overlay1.png) repeat-x left top; 
	padding-left: 10px;
	-moz-box-shadow: rgba(0, 0, 0, 0.148438) 0px 1px 3px; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.148438) 0px 1px 3px;
	box-shadow: rgba(0, 0, 0, 0.148438) 0px 1px 3px;
	-moz-border-radius-bottomright: 6px; 
	-webkit-border-bottom-right-radius: 6px; 
	border-bottom-right-radius: 6px;
	-moz-border-radius-bottomleft: 6px; 
	-webkit-border-bottom-left-radius: 6px;
	border-bottom-left-radius: 6px;
	color: #888;
	height: 40px; 
	line-height: 40px; 
	font-weight: bold;
}

header#top h1 { font-weight: bold; width: 325px; font-size: 200%; letter-spacing: -2px; }
header#top nav { width: 325px; text-align: right; padding-right: 10px; margin-top: -7px; }
header#top nav a.help { color: #005999; letter-spacing: -0.5px; }
header#top nav a:hover { text-decoration: underline; }
header#top nav ul.options { margin-top: 7px; float: right; }
header#top nav ul.options li.option { position: relative; display: inline; }
header#top nav ul.options li.option.account { padding-left: 6px; cursor: pointer; }
header#top nav ul.options li.option.account span.arrow { color: #666; }
header#top nav ul.options li.option.help { border-right: 1px solid #bbb; padding-right: 4px; }
header#top time { color: #aaa; width: 288px; text-align: center; display: inline; line-height: 11px; padding-top: 9px; }
header#top time span.date, header#top time span.time { font-size: 100%; } 
header#top time span.timezone { font-size: 90%; }
header#top nav, header#top nav a, header#top time, footer { text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px; }

form#create { width: 100%; clear: both; padding: 20px 0; }
form#create fieldset { 
	padding: 3px 0; 
	margin: 0;
	background: #ccccc7 url(../images/overlay1.png) repeat-x; 
	border: 1px solid #ddd; 
	border-bottom: 1px solid #bbb;
	-moz-box-shadow: rgba(0, 0, 0, 0.148438) 0px 1px 3px; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.148438) 0px 1px 3px;
	box-shadow: rgba(0, 0, 0, 0.148438) 0px 1px 3px;
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
form#create input[type="text"] {
	width: 807px; 
	font-size: 160%;
	border: 0;
	padding: 10px 7px;
	background: white url(../images/input_bg.png) repeat-x 0% 0%;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
form#create button { 
	color: #666;
	font-weight: bold;
	font-size: 160%; 
	border: 0; 
	padding: 10px 2px 10px 4px;
	vertical-align: middle;
	background: none;
}
form#create button:hover { color: #505460; }
form#create button:active { -webkit-transform: translateY(2px); }
form#create button:first-child { width: 30px; }
form#create button:last-child { width: 100px; }
form#create div.help { 
	margin: 10px 30px 0 30px; 
	padding: 13px 10px; 
	display: none; 
 	border-left: 1px solid #ddd; 
	border-right: 1px solid #ddd; 
	border-top: 1px solid #ddd; 
	border-bottom: 1px solid #bbb; 
	background: rgba(255, 255, 255, 0.4); 
	-moz-box-shadow: rgba(0, 0, 0, 0.148438) 0px 1px 3px; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.148438) 0px 1px 3px;
	box-shadow: rgba(0, 0, 0, 0.148438) 0px 1px 3px;
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px; 
	border-radius: 6px; 
}

form#update { display: none; }
form.update { width: 100%; clear: both; padding: 1px 0 5px 0; }
form.update fieldset { 
	width: 827px;
	padding: 3px 4px;
	margin: 0;
	background: #ccccc7 url(../images/overlay1.png) repeat-x; 
	border: 1px solid #ddd; 
	border-bottom: 1px solid #bbb;
	-moz-box-shadow: rgba(0, 0, 0, 0.148438) 0px 1px 3px; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.148438) 0px 1px 3px;
	box-shadow: rgba(0, 0, 0, 0.148438) 0px 1px 3px;
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;
	border-radius: 6px;
	display: inline-block;
}
form.update input[type="text"] {
	width: 813px; 
	font-size: 160%;
	border: 0;
	padding: 10px 7px;
	background: white url(../images/input_bg.png) repeat-x 0% 0%;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
form.update button { 
	font-size: 140%; 
	border: 0; 
	margin: 5px 0 5px 5px;
	padding: 5px 2px;
	vertical-align: middle;
	text-align: center;
	width: 55px; 
	background: rgba(68, 68, 68, 1); 
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px; 
	border-radius: 6px; 
	color: white; 
	text-shadow: black 0px 1px 0px;
}
form.update a { vertical-align: middle; color: #005999; margin-left: 10px; font-weight: bold; }
form.update a:hover { text-decoration: underline; }
form.update button:hover { -moz-box-shadow: #505460 0 0 5px; -webkit-box-shadow: #505460 0 0 5px; box-shadow: #505460 0 0 5px; }
form.update button:active { -webkit-transform: translateY(2px); }

nav#filters { }
nav#filters ul li.filter { padding: 8px 0; width: 110px; text-align: center; font-size: 160%; background: rgba(255, 255, 255, 0.6) url(../images/overlay1.png) repeat-x; -moz-box-shadow: rgba(0, 0, 0, 0.148438) 0px 1px 3px; -webkit-box-shadow: rgba(0, 0, 0, 0.148438) 0px 1px 2px; box-shadow: rgba(0, 0, 0, 0.148438) 0px 1px 2px; }
nav#filters ul li.filter:first-child { 
	-moz-border-radius-topleft: 6px; 
	-webkit-border-top-left-radius: 6px; 
	border-top-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px; 
	-webkit-border-bottom-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
nav#filters ul li.filter.done { 
	-moz-border-radius-topright: 6px; 
	-webkit-border-top-right-radius: 6px; 
	border-top-right-radius: 6px;
	-moz-border-radius-bottomright: 6px; 
	-webkit-border-bottom-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
nav#filters ul li.filter span.quantity {
	z-index: 1; 
	font-size: 10px;
	min-width: 12px; 
	background: rgba(204, 17, 0, 0.8) url(../images/overlay1.png) repeat-x; 
	color: white; 
	padding: 0px 3px; 
	text-shadow: #444 0px 1px 0px; 
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px; 
	border-radius: 8px; 
	position: absolute; 
	top: -2px; 
	right: -2px; 
	-moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 3px; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 3px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 3px;
}
nav#filters ul li.filter.important { padding: 10px 0 6px 0; }
nav#filters ul li.filter.important a, nav#filters ul li.filter.important.active a { color: rgba(204, 17, 0, 0.8); font-size: 200%; }
nav#filters ul li.filter.done a { color: #777; }
nav#filters ul li.filter a, nav#filters ul li.settings a { font-weight: bold; display: block; }
nav#filters ul li.filter.active { background: rgba(68, 68, 68, 1) url(../images/overlay1.png) repeat-x; }
nav#filters ul li.filter.active a { color: white; text-shadow: black 0px 1px 0px; }
nav#filters ul li.filter:hover { }
nav#filters ul li.filter.active:hover { }
nav#filters ul li.more {
	text-align: center; 
	width: 25px; 
	font-weight: bold; 
	padding: 9px 0 7px 8px; 
	font-size: 150%; 
	cursor: pointer; 
	color: #666;
}
nav#filters ul li.more div::before { font-family: "IconicStroke"; content: "w"; font-size: 140%; }
nav#filters ul li.more ul.sub {
	position: absolute;	
	z-index: 10;
	margin-top: 7px;
	display: none;
	background: white;
	font-size: 70%;
	padding: 3px;
	width: 65px;
	left: -15px;
	background: rgba(255, 255, 255, 0.7) url(../images/overlay1.png) repeat-x;
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px; 
	border-radius: 6px; 
	-moz-box-shadow: rgba(0, 0, 0, 0.148438) 0px 1px 3px; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.148438) 0px 1px 3px;
	box-shadow: rgba(0, 0, 0, 0.148438) 0px 1px 3px;
}
nav#filters ul li.more ul.sub li { width: 100%; }
nav#filters ul li.more ul.sub li a {
	margin: 0 10px;
	display: block;
	text-decoration: none;
	color: #888;
}
nav#filters ul li.search { width: 123px; margin: 0 0 0 110px; } 
nav#filters ul li.search input { 
	width: 100%; 
	font-size: 12px; 
	padding: 4px 2px 4px 20px; 
	margin-top: 5px; 
	background: white url(../images/search.png) no-repeat 2px 1px; 
	-moz-border-radius: 12px; 
	-webkit-border-radius: 12px; 
	border-radius: 12px; 
	border-top: 1px solid #aaa; 
	border-left: 1px solid #aaa; 
	border-bottom: 1px solid #ccc; 
	border-right: 1px solid #ccc;
	background-clip: padding-box;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
}

/** itens */
section#items { width:100%; margin-top: 1px; padding: 5px 0 0 0; display: inline-block; }
section#items.all article.done, section#items.important article.done, section#items.today article.done, section#items.tomorrow article.done, section#items.week article.done, section#items.month article.done { display: none; }
section#items.important article:not(.important) { display: none; }
section#items.today article:not(.today) { display: none; }
section#items.tomorrow article:not(.tomorrow) { display: none; }
section#items.week article:not(.week) { display: none; }
section#items.month article:not(.month) { display: none; }
section#items.past article:not(.past) { display: none; }
section#items.done article:not(.done) { display: none; }
section#items div.empty { display: none; margin: 50px 100px; padding: 20px 10px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; -moz-box-shadow: rgba(0, 0, 0, 0.148438) 0px 1px 3px; -webkit-box-shadow: rgba(0, 0, 0, 0.148438) 0px 1px 3px; box-shadow: rgba(0, 0, 0, 0.148438) 0px 1px 3px; }

article.item { font-size: 160%; width: 100%; padding: 12px 0; background: rgba(255, 255, 255, 0.6); position: relative; display: inline-block; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; -moz-box-shadow: rgba(0, 0, 0, 0.148438) 0px 1px 3px; -webkit-box-shadow: rgba(0, 0, 0, 0.148438) 0px 1px 3px; box-shadow: rgba(0, 0, 0, 0.148438) 0px 1px 3px; height: 25px; line-height: 25px; }
article.item.hidden { display: none; }
article.item:not(.preview) { cursor: move; } 
article.item:hover { }
article.item header { clear: both; display: inline; }
article.item header div.relevance { width: 5%; display: inline; float: left; text-align: center; vertical-align: middle; }
article.item header div.relevance a { font-size: 200%; color: #bbb; }
article.item.important header div.relevance a { color: rgba(204, 17, 0, 0.8); }
article.item header time { width: 15%; text-align: left; display: inline; float: left; }
article.item header time span.day { float: left; font-size: 180%; width: 35px; text-align: right; padding-right: 5px; letter-spacing: -3px; }
article.item header time span.month { font-size: 80%; font-weight: bold; line-height: 12px; display: block; }
article.item header time span.time { font-size: 80%; line-height: 15px; display: block; }
article.item p { width: 79%; display: inline; float: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
article.item.task p { width: 94%;}
article.item.detailed p { width: 76%; }
article.item.task.detailed p { width: 91%; }
article.item p a { color: #005999; }
article.item div.tools { text-align: right; display: none; position: absolute; right: 30px; }
article.item div.tools a { color: #bbb; position: absolute; z-index: 1; }
article.item div.tools a.remove::before { font-family: "IconicStroke"; content: "x"; font-size: 120%; vertical-align: -2px; }
article.item div.tools a.done::before { font-family: "IconicStroke"; content: "y"; font-size: 140%; vertical-align: -5px; }
article.item:not(.done) div.tools a.remove { display: none; }
article.item.done div.tools a.done { display: none; }
article.item div.tools a:hover { color: rgba(68, 68, 68, 1); }
article.item.detailed div.tools { display: inline; }
article.item.preview { margin-top: 10px; }
article.item.done p { text-decoration: line-through; }
article.item.almost:not(.done), article.item.past:not(.done) { background: rgba(255, 220, 110, 0.6); }
article.item div.tags { position: absolute; top: -4px; right: 5px; }
article.item span.badge, article.item div.tags span.tag { 
	position: relative; 
	float: right; 
	margin-right: 5px; 
	font-size: 11px;
	min-width: 12px; 
	background: rgba(204, 17, 0, 0.8) url(../images/overlay1.png) repeat-x; 
	color: white; 
	letter-spacing: -0.5px; 
	line-height: 20px;
	padding: 0 5px;
	line-height: 18px; 
	text-shadow: #444 0px 1px 0px; 
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px; 
	border-radius: 8px; 
	-moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 3px; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 3px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 3px;
}
article.item div.tags span.tag { background: rgba(0, 89, 153, 0.8) url(../images/overlay1.png) repeat-x; cursor: pointer; }

footer { font-size: 90%; padding-bottom: 20px; letter-spacing: -0.5px; text-align: center; }

div#preferences-menu { 
	display: none;
	position: absolute;
	top: 31px;
	right: -8px;
	width: 130px;
	background: rgba(68, 68, 68, 0.9) url(../images/overlay1.png) repeat-x;
	padding: 5px 10px 10px 10px;
	-moz-box-shadow: rgba(0, 0, 0, 0.148438) 0px 1px 3px; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.148438) 0px 1px 3px;
	box-shadow: rgba(0, 0, 0, 0.148438) 0px 1px 3px;
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;
	border-radius: 6px;
	font-size: 100%;
	z-index: 1;
}
div#preferences-menu p { cursor: auto; margin: 13px 0; }
div#preferences-menu p.first { margin-top: 5px; }
div#preferences-menu a.option { font-weight: normal; color: white; text-shadow: black 0px 1px 0px; margin-bottom: 5px;}
div#preferences-menu a, div#preferences-menu p { line-height: 1; display: block; }
div#preferences-menu a:last-child { margin-top: 13px; font-weight: bold; }
div.preferences {
	width: 940px;
	display: none;
	background: rgba(68, 68, 68, 0.9) url(../images/overlay1.png) repeat-x;
	padding: 5px 10px 10px 10px;
	-moz-box-shadow: rgba(0, 0, 0, 0.148438) 0px 1px 3px; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.148438) 0px 1px 3px;
	box-shadow: rgba(0, 0, 0, 0.148438) 0px 1px 3px;
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;
	border-radius: 6px;
	font-size: 120%;
	text-shadow: #eee 0px 1px 0px; 
}
div.preferences h2 { color: white; text-shadow: black 0px 1px 0px; font-size: 140%; line-height: 40px; }
div.preferences form { background: #ccccc7 url(../images/overlay1.png) repeat-x left top; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; padding: 20px 19px; }
div.preferences form div.loading { text-align: center; }
div.preferences form span#dateFormat, div.preferences form span.combobox { margin-right: 19px; }
div.preferences form div.buttons { text-align: right; float: right;  }
div.preferences form div.buttons button {
	padding: 4px 10px; 
	text-align: center; 
	font-size: 110%; 
	background: rgba(68, 68, 68, 1); 
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px; 
	border-radius: 6px; 
	border: 0;
	color: white; 
	text-shadow: black 0px 1px 0px;
	margin: 0 0 0 5px;
}
div.preferences form div.buttons button:hover { -moz-box-shadow: #505460 0 0 5px; -webkit-box-shadow: #505460 0 0 5px; box-shadow: #505460 0 0 5px; }
div#preferences-account form label { margin-right: 20px; margin-left: 5px; }
div.preferences form input[type='text'] { 
	padding: 4px 2px; 
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border-radius: 4px; 
	border-top: 1px solid #aaa; 
	border-left: 1px solid #aaa; 
	border-bottom: 1px solid #ccc; 
	border-right: 1px solid #ccc;
	background-clip: padding-box;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
}
div.preferences form input[type='text'].delete-confirmation { width: 50px; margin-left: 5px; }

.tooltip { 
	display: none;
	background: rgba(68, 68, 68, 0.9) url(../images/overlay1.png) repeat-x;
	padding: 5px 10px;
	text-align: center;
	z-index: 1;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: rgba(0, 0, 0, 0.148438) 0px 1px 3px; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.148438) 0px 1px 3px;
	box-shadow: rgba(0, 0, 0, 0.148438) 0px 1px 3px;
}
.tooltip, .tooltip a { color: white; text-shadow: black 0px 1px 0px; }

span.combobox { padding: 5px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.ui-state-active, span.combobox { background: white url(../images/input_bg.png) repeat-x 0% 0%; }
.ui-state-default, .ui-state-active, span.combobox { border: 1px solid #bbb; }
span.combobox .ui-button { border: 0; width: 15px; background: none; }
span.combobox .ui-autocomplete-input { color: #505460; border: 0; margin-bottom: 6px; width: 190px; padding: 5px 3px; background: none; font-size: 100%; letter-spacing: -0.5px; }
.ui-autocomplete { max-height: 300px; overflow: auto; -moz-box-shadow: rgba(0, 0, 0, 0.148438) 0px 1px 3px; -webkit-box-shadow: rgba(0, 0, 0, 0.148438) 0px 1px 3px; box-shadow: rgba(0, 0, 0, 0.148438) 0px 1px 3px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; border: 1px solid #bbb; border-top: 0; }
.ui-autocomplete::-webkit-scrollbar { height: 9px; width: 9px; -webkit-border-radius: 3px; border-radius: 3px; }  
.ui-autocomplete::-webkit-scrollbar-thumb { background: #aaa; -webkit-border-radius: 3px; border-radius: 3px; } 
.ui-menu-item a { letter-spacing: -0.5px; color: #505460; }
.ui-button-text { letter-spacing: -1px; color: #505460; }
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text { padding: .4em; text-indent: 0; font-size: 120%; }
.ui-button-text-only .ui-button-text { padding: 4px 8px; }

div.feedback.newcomer { 
	margin: 30px 100px; 
	padding: 15px 10px; 
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px; 
	border-radius: 6px; 
	-moz-box-shadow: rgba(0, 0, 0, 0.148438) 0px 1px 3px; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.148438) 0px 1px 3px;
	box-shadow: rgba(0, 0, 0, 0.148438) 0px 1px 3px;
	background: rgba(255, 255, 255, 0.6); 
	font-size: 110%;
}
div.feedback.newcomer h2, div.feedback.newcomer h3 { border-bottom: 1px solid #ccccc7; margin-bottom: 10px; } 
div.feedback.newcomer h2 { font-size: 140%; } 
div.feedback.newcomer h3 { font-size: 120%; margin-top: 15px; }
div.feedback.newcomer p { margin-bottom: 5px; }
form#create div.help p { letter-spacing: -0.5px; margin-bottom: 10px; }
form#create div.help tr { }
form#create div.help td { font-size: 120%; padding: 0 10px; }
form#create div.help p.important { font-size: 160%; letter-spacing: -1px; margin-bottom: 13px; }
div.feedback.newcomer li { margin-left: 20px; padding-left: 0; list-style-type: circle; }
header#top nav a.icon { color: #888; font-weight: normal; font-size: 140%; }

/** home **/
body.home { border-top: 3px solid rgba(204, 17, 0, 0.8); }

section#banner, section#devices, section#features, body.home footer { max-width: 960px; margin: 0 auto; }

section#banner { height: 140px; }
section#banner div#slogan {
	float: left;
	width: 440px;
	text-align: left;
	cursor: pointer;
}
section#banner div#slogan h1 { 
	font-weight: bold; 
	font-size: 400%; 
	letter-spacing: -3px; 
	color: #666; 
	text-shadow: white 0px 1px 0px;
	margin-top: 60px;
}
section#banner div#slogan p { font-size: 120%; margin-top: 10px; }
section#banner div#slogan img { float: left; }
section#banner div#login {
	padding-top: 35px;
	float: right;
	width: 520px;
	text-align: right;
}
section#banner div#login a.appstore:first-child { margin-right: 5px; }
section#banner div#login a.appstore { margin-right: 15px; }
section#banner div#login a.login { font-size: 140%; font-weight: normal; text-align: left; margin-top: 20px; width: 220px; background-color: rgba(204, 17, 0, 0.8); }
section#banner div#login a.login img { float: left; margin: 6px 7px 3px 3px; }
section#banner div#login a.login span.in { display: block; font-weight: bold; font-size: 160%; }
section#banner div#login a.login span.google { font-weight: bold; }
section#devices div#screenshot { 
	text-align: center;
	padding-bottom: 40px; 
	position: relative;
	height: 451px;
}
section#devices div#screenshot img.screenshot-laptop {
	z-index: 999;
	position: absolute;
	top: 0;
	left: 80px;
}
section#devices div#screenshot img.screenshot-kindle {
	z-index: 1;
	position: absolute;
	top: 36px;
	left: 80px;
	opacity: 1;
}
section#devices div#screenshot img.screenshot-iphone {
	z-index: 1;
	position: absolute;
	top: 180px;
	right: 80px;
	opacity: 1;
}
section#devices div#screenshot img.screenshot-kindle:hover, section#devices div#screenshot img.screenshot-iphone:hover {
	z-index: 3;
}
section#features {
	clear: both;
	padding-bottom: 20px; 
}

section#features section#details {
	width: 100%;
	margin: 0 auto;
	background: rgba(255, 255, 255, 0.8); 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 5px; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 5px;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 5px;
	letter-spacing: -0.5px;
	padding: 20px 0;
}
section#features section#details p { 
	text-align: center;
}
section#features section#details p.title {
	clear: both;
	letter-spacing: -1px;
	padding: 25px 0 40px 0;
	font-size: 210%;
	font-weight: bold;
	text-shadow: 0 2px 4px rgba(193, 208, 227, 0.75);
}
section#features section#details div.feature {
	float: left;
	width: 420px;
	height: 100px;
	margin: 0 30px;
	font-size: 110%;
}
section#features section#details div.feature.single {
	width: 100%;
	height: 100px;
	margin: 0 30px;
	font-size: 110%;
	text-align: center;
}
section#features section#details div.feature.description {
	font-size: 210%;
	text-align: center;
	line-height: 1.3;
	width: 900px;
	padding: 10px 0 20px 0;
}
section#features section#details div.feature.sharing {
	padding-top: 20px;
	width: 100px;
}
section#features section#details div.feature img {
	float: left;
	margin-right: 3px;
	margin-bottom: 3px;
}
section#features section#details div.feature p.topic {
	font-weight: bold;
	font-size: 140%; 
	text-align: left;
	text-shadow: 0 2px 4px rgba(193, 208, 227, 0.75);
}
section#features section#details div.feature a {
	color: #005999;
	font-weight: bold;
}
section#features section#details p:last-child { clear: both; margin-bottom: 20px; }
section#features section#details p a.login { font-size: 400%; padding: 5px 50px 6px 50px; background-color: rgba(204, 17, 0, 0.8); margin-top: 50px; }
a.login {
	background: #444 url(../images/alert-overlay.png) repeat-x;
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
}
a.login:hover {
	-moz-box-shadow: 0 2px 10px rgba(255,0,0,0.5);
	-webkit-box-shadow: 0 2px 10px rgba(255,0,0,0.5);
	box-shadow: 0 2px 10px rgba(255,0,0,0.5);
	-moz-transform: scale(1.3); 
	-webkit-transform: scale(1.3); 
	z-index: 1; 
	transition: all .1s linear; 
	-o-transition: all .1s linear; 
	-moz-transition: all .1s linear; 
	-webkit-transition: all .1s linear;
}
body.home footer a, body.default footer a { letter-spacing: -0.5px; text-decoration: underline; }

/** themes  **/
body.default { background: #b2c2d9 url(../images/bg.jpg); }
body.home { background: #d9e2e9 url(../images/overlay5.png) repeat-x left -50px; }

/** jQuery Notify **/

.ui-notify { width: 200px; position:fixed; top:10px; right:10px; }
.ui-notify-message { padding:10px; margin-bottom:15px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }
.ui-notify-message h1 { font-size:14px; margin:0; padding:0; }
.ui-notify-message p { margin:3px 0; padding:0; line-height:18px }
.ui-notify-message:last-child { margin-bottom:0 }
.ui-notify-message-style { background:#000; background:rgba(0,0,0,0.8); -moz-box-shadow: 0 0 6px #000; -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.148438); box-shadow: 0 0 6px rgba(0, 0, 0, 0.148438); }
.ui-notify-message-style h1 { color: white; text-shadow: black 0px 1px 0px; font-weight:bold }
.ui-notify-message-style p { color: white; text-shadow: black 0px 1px 0px; }
.ui-notify-close { color:#fff; text-decoration:underline }
.ui-notify-click { cursor:pointer }
.ui-notify-cross { margin-top:-4px; float:right; cursor:pointer; text-decoration:none; font-size:12px; font-weight:bold; text-shadow:0 1px 1px #fff; padding:2px }
.ui-notify-cross:hover { color:#ffffab }
.ui-notify-cross:active { position:relative; top:1px }/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
}

/* iPhone 4 and high pixel ratio devices ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
}

/*
 * print styles, inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/
 */
@media print {
	* { background: transparent !important; color: #444 !important; text-shadow: none !important; }
	a, a:visited { color: #444 !important; text-decoration: underline; }
	a:after { content: " (" attr(href) ")"; }
	abbr:after { content: " (" attr(title) ")"; }
	.ir a:after { content: ""; }  /* Don't show links for images */
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
	tr, img { page-break-inside: avoid; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
}

